
$color-thistle: #CABAC8;         
$color-red: #FF101F;              
$color-uranian-blue: #B2DDF7;     
$color-non-photo-blue: #81D6E3;   
$color-verdigris: #4CB5AE;        

$color-dark-slate-blue: #2e4057;  
$color-ivory: #F8F4E3;            
$color-jet: #333333;               
$color-goldenrod: #FFD700;        
$color-deep-aqua: #40a4cc;        
