<main>
    <div class="app-container">
        <div class="branding-box">
          <p class="branding-title">PARKING APP</p>
        </div>
    <div class="login-box">
    <p class="login-title">Registrarte</p>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class='login-form'>

            <div class="login-form-group">
                <input type="text" id="username" placeholder="Usuario" name="username" class="login-input" ngModel required>
            </div>
            <div class="login-form-group">
                <input type="text" id="nombre" placeholder="Nombre" name="nombre" class="login-input" ngModel required>
            </div>

            <div class="login-form-group">
                <input type="text" id="apellido" placeholder="Apellido" name="apellido" class="login-input" ngModel required>
            </div>

            <div class="login-form-group">
                <input type="password" id="password" placeholder="Contraseña" name="password" class="login-input" ngModel required>
            </div>

            <button [disabled]="registerForm.invalid" class="login-button" type="submit">Registrarse</button>
            @if(errorRegister) {
                <div class="login-error">
                <p>Hubo un error en el registro de usuario.</p>
                </div>
            }
        </form>
    </div>
    </div>
</main>