$color-texto: #333; 
$color-texto-invertido: #fff;
$color-fondo-titulo: #e0f7fa; 
$color-exito: #4caf50; 
$color-gris-suave: #b0bec5; 
$color-warn: #ff9800; 
$table-bg-color: #f9fafb; 
$table-bg-color-dark: #374151; 
