.table-container {
  overflow-x: auto;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #374151;
  padding: 1rem;
}

table {
  width: 100%;
  text-align: left;
  color: #cddaf1;

  thead {
      background-color: #374151;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #dfe2e6;

      th {
          padding: 0.75rem;
          border-bottom: 2px solid #4b5563;
      }
  }

  tbody {
      tr {
          background-color: #1f2937;
          border-bottom: 1px solid #374151;

          &:last-child {
              border-bottom: none;
          }

          td {
              padding: 1.20rem;
              font-size: 0.875rem;
          }
        }
  }
}